#product{
    display: grid;
    height: 200px;
    background-color: rgb(24, 24, 24);
}
#product div.title{
    grid-template: 1/2fr;
    color:white;
    font-size: 25pt;
}
#product div.main{
    grid-template: 1/sapn 2;
    text-align: center;
}